.entity-card-container {
    &__eliminated {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
        background-color: #e9ecef; /* Add background color */
        padding: 0.5rem; /* Add padding */
        border-radius: 4px; /* Add border radius */
        border: 1px solid #ced4da; /* Add border */

        &--eliminated {
            margin-bottom: 0.25rem;
        }

        &--name {
            margin-bottom: 0.25rem;
        }

        &--row {
            display: flex;
            align-items: center;
            margin-bottom: 0.25rem;

            .input-group-text {
                width: 60px; /* Reduce the width of the input group text */
                font-size: 0.8rem; /* Reduce the font size */
            }

            input {
                width: 40px; /* Reduce the width of the inputs */
                font-size: 0.8rem; /* Reduce the font size */
                padding: 0.25rem; /* Reduce the padding */
            }

            button {
                margin-left: 0.5rem;
                font-size: 0.8rem; /* Reduce the font size */
                padding: 0.25rem 0.5rem; /* Reduce the padding */
            }
        }
    }

    &__infos {
        margin-top: 0.5rem;

        .list-group-item {
            padding: 0.25rem 0.5rem;
            font-size: 0.8rem; /* Reduce the font size */
        }
    }
}

.eliminated {
    text-decoration: line-through;
}